.login-container {
  width: 100%;
  height: 100%;
  background: url("../../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
.login-container .from-wrapper-outside {
  width: 420px;
  height: 470px;
  background-color: #000000;
  opacity: 0.15;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.login-container .login-from-wrapper {
  width: 400px;
  height: 450px;
  background-color: #ffffff;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
}
.login-container .login-from-wrapper .login-from-inner {
  width: 100%;
  height: 100%;
}

.login-container .login-from-wrapper .login-from-inner .login-from-icon {
  background: url("../../assets/log_in.png") no-repeat center;
  width: 171px;
  height: 103px;
  margin: auto;
  margin-top: 30px;
}

.login-container .login-from-wrapper .login-from-inner .login-from {
  margin-top: 25px;
  padding: 30px;
}